<footer class="footer">
    <div class="footer-content">
        <p>&copy; {% now "Y" %} DailyNews. All rights reserved.</p>
        <p>Made with ❤️ by <a href="mailto:nojha1855@gmail.com" style="color: cyan; text-decoration: none;">Neeraj Ojha</a>
        </p>
        <div class="social-links">
            <a href="https://www.github.com/neerajojha1855/" target="_blank" rel="noopener noreferrer"
                aria-label="GitHub">
                <i class="fa-brands fa-github fa-xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/neeraj-ojha-422b3b375/" target="_blank" rel="noopener noreferrer"
                aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin fa-xl"></i>
            </a>
            <a href="https://www.instagram.com/_neeraj_og/" target="_blank" rel="noopener noreferrer"
                aria-label="Instagram">
                <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
        </div>
    </div>
</footer>